!!!
%html{lang: I18n.locale}
  %head
    %meta{:charset => "utf-8"}
    %title
      = content_for?(:title) ? (yield(:title) + " - Admin") : "Admin"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "Fourmach.com", :name => "author"}
    = stylesheet_link_tag "blog_dashboard/application", media: nil

    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    = csrf_meta_tag
  %body{id: "#{controller.controller_name}-#{controller.action_name}"}
    = render 'menu'

    .container
      #flash
        - flash.each do |key, value|
          .alert{ :class => "alert-#{key}" }
            = value

      %h2= yield(:title)



      = yield

    = javascript_include_tag "blog_dashboard/application"

